<h1><%="Recipe: #{@recipe.name}"%></h1>

<div>
  <header>Ingredients</header>
  <p><%=@recipe.ingredients%></p>
</div>

<div>
  <header>Cook Time</header>
  <p><%=@recipe.cook_time%></p>
</div>

</br>
<p>Update Recipe</p>